@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}

/* nav section */

button {
  font-family: 'Epilogue', sans-serif;
}

.logo-brand {
  margin-left: 2rem;
  margin-top: 1rem;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.nav-ul {
  padding: 0;
  margin-left: 4rem;
  margin-right: 4rem;
  justify-content: space-between;
  cursor: pointer;
}

.nav-btns {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}

.nav-btns button:nth-child(1) {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 30px;
}

.nav-btns button:nth-child(2) {
  outline: none;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  /* margin: 10px; */
  display: inline-block;
}

.hamburger-menu {
  display: none;
}

.overlay {
  display: none;
}

.dropbtn {
  margin-right: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 10px;
  padding: 20px;
  display: none;
  position: absolute;
  background-color: #fff;
  width: 150px;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 14px;
  display: flex;
  align-items: center;
}

.dropdown-content img {
  margin-right: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1200px) {
  .hero {
    max-width: 960px;
    grid-template-columns: repeat(2, 400px);
  }
}

@media (max-width: 900px) {
  .nav-btns {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hero {
    margin: 50px ;
    max-width: 960px;
    grid-template-columns: repeat(1, max(200px, 350px));
  }

  .img-container {
    grid-row: 1;
  }

  .img-container img::before{
    content: url(images/image-hero-mobile.png);
    max-width: 100%;
  }

  .hero-text{
    text-align: center;
  }

  .hero button{
    margin: 0;
  }

  h1{
    font-size: 30px;
    margin: 0;
    width: 100%;
  }

  br{
    display: none;
  }

  .mobile-nav{
    
  }
}

/* hero section */

h1 {
  font-size: 70px;
  width: 500px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-gap: 80px;
  margin: 0 auto;
  max-width: 1240px;
  justify-content: center;
  align-items: center;
}

p {
  color: grey;
  font-size: 15px;
  line-height: 1.5em;

}

.img-container img {
  width: 100%;
}

.logo {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero button {
  margin-top: 40px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 15px;
  transition: all 1s;
}

.hero button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: grey;
  font-style: bold;
  transition: all 1s;
  cursor: pointer;
}

.attribution {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .hero {
    max-width: 960px;
    grid-template-columns: repeat(2, 400px);
  
  }
}

@media (max-width: 900px) {
  .nav-btns {
    display: none;
  }
  .nav-ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hero {
    margin: 50px;
    max-width: 1000px;
    grid-template-columns: repeat(1, max(200px, 450px));
  }
  .img-container {
    grid-row: 1;
  }
  .img-container img {
    content: url(images/image-hero-mobile.png);
    max-width: 100%;
  }
  .hero-text {
    text-align: center;
    margin: auto;
  }
  .hero button {
    margin: 0;
  }
  h1 {
    font-size: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  br {
    display: none;
  }
  
}

@media (max-width: 900px) {
  .logo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}
